.vs\
.vs/game/v15/.suo
.vs/game/v15/Browse.VC.db
.vs/game/v15/ipch/AutoPCH/GAME-22225cc7/GAME-fb9011fe/GAME.ipch
.vs/game/v15/ipch/AutoPCH/GAME-22225cc7/MAIN-7c694949/MAIN.ipch
.vs/game/v15/ipch/AutoPCH/GAME-22225cc7/SHADER-56559080/SHADER.ipch
